.main-menu {
    padding-top: 50px;

    &.affix {
        position: fixed;
        top: 0;
    }

    .nav {
        font-weight: normal;
        .nav {
            display: none;
            padding-left: 20px;
        }
        li.active {
            font-weight: bold;
            .nav {
                display: block;
            }
        }
    }
}