.main-menu { padding-top: 50px; }
.main-menu.affix { position: fixed; top: 0; }
.main-menu .nav { font-weight: normal; }
.main-menu .nav .nav { display: none; padding-left: 20px; }
.main-menu .nav li.active { font-weight: bold; }
.main-menu .nav li.active .nav { display: block; }
